<div class="container">
  <div class="row mt-5">
      <div class="col-md-12 d-flex justify-content-center">
          <iframe name="VidFrame" width="80%" height="550px" src="https://www.youtube.com/embed/vnxgAnihE2o"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
      </div>
  </div>
  <div class="row mt-3">
      <div id="carouselExampleControlsNoTouching2" class="carousel slide w-100" data-bs-ride="carousel" style="width:84%">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="cards row">
                      <div class="col-2">
                          <a target="VidFrame" href="https://www.youtube.com/embed/vnxgAnihE2o" class="card">
                              <img src="https://gacsach.club/sites/default/files/styles/book310/public/mat_biec.gif?itok=9gfKhHHl"
                                  class="card__image" alt="" />
                          </a>
                      </div>
                      <div class="col-2">
                          <a target="VidFrame" href="https://www.youtube.com/embed/hQWakyfjy-Q" class="card">
                              <img src="https://gacsach.club/sites/default/files/styles/book310/public/cho-toi-mot-ve-di-tuoi-tho.jpg?itok=0RW_HSAW"
                                  class="card__image" alt="" />
                          </a>
                      </div>
                      <div class="col-2">
                          <a target="VidFrame" href="https://www.youtube.com/embed/UDOhUuaOOIo" class="card">
                              <img src="https://gacsach.club/sites/default/files/styles/book310/public/kinh-van-hoa-nguyen-nhat-anh-1.jpg?itok=44DnJhil"
                                  class="card__image" alt="" />
                          </a>
                      </div>
                      <div class="col-2">
                          <a target="VidFrame" href="https://www.youtube.com/embed/5NzNk-7G40Q" class="card">
                              <img src="https://gacsach.club/sites/default/files/styles/book310/public/thien-than-bong-toi.jpg?itok=sNr9ovuV"
                                  class="card__image" alt="" />
                          </a>
                      </div>
                      <div class="col-2">
                          <a target="VidFrame" href="https://www.youtube.com/embed/qAilFAURz98" class="card">
                              <img src="https://gacsach.club/sites/default/files/styles/book310/public/van-bai-lat-ngua-tap.jpg?itok=OT6KO68V" class="card__image" alt="" />
                            
                          </a>
                      </div>
                      <div class="col-2">
                          <a target="VidFrame" href="https://www.youtube.com/embed/5cJHiDSnT34" class="card">
                              <img src="https://gacsach.club/sites/default/files/styles/book310/public/ha-do.jpg?itok=7gnzXJne"
                                  class="card__image" alt="" />
                          </a>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="cards row">
                      <div class="col-2">
                          <a target="VidFrame" href="https://www.youtube.com/embed/KcmdOP-MlqY" class="card">
                              <img src="https://gacsach.club/sites/default/files/styles/book310/public/oxford-thuong-yeu.jpg?itok=3K2uLCtX"
                                  class="card__image" alt="" />
                          </a>
                      </div>
                      <div class="col-2">
                          <a target="VidFrame" href="https://www.youtube.com/embed/BChqrGF7MUk" class="card">
                              <img src="https://gacsach.club/sites/default/files/styles/book310/public/gai-gia-xi-tin.jpg?itok=6uvNwCpz"
                                  class="card__image" alt="" />
                          </a>
                      </div>
                      <div class="col-2">
                          <a target="VidFrame" href="https://www.youtube.com/embed/OhV9RxL_v2w" class="card">
                              <img src="https://gacsach.club/sites/default/files/styles/book310/public/tro_choi_tu_than.jpg?itok=QX9v-Ty5"
                                  class="card__image" alt="" />
                          </a>
                      </div>
                      <div class="col-2">
                          <a target="VidFrame" href="https://www.youtube.com/embed/kBGC5AzQjyc" class="card">
                              <img src="https://gacsach.club/sites/default/files/styles/book310/public/newdesign_1_original_1.jpg?itok=nASOMEf9"
                                  class="card__image" alt="" />
                          </a>
                      </div>
                      <div class="col-2">
                          <a target="VidFrame" href="https://www.youtube.com/embed/dLFa1ygh8Bs" class="card">
                              <img src="https://gacsach.club/sites/default/files/styles/book310/public/choi-doc.jpg?itok=dJrpm3HD" class="card__image" alt="" />
                            
                          </a>
                      </div>
                      <div class="col-2">
                          <a target="VidFrame" href="https://www.youtube.com/embed/QzOq5bZ0O88" class="card">
                              <img src="https://gacsach.club/sites/default/files/styles/book310/public/dao-mo-dao-ra-quy.jpg?itok=TYfhGuSx"
                                  class="card__image" alt="" />
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <button class="carousel-control-prev" style="width: 100px;" type="button"
              data-bs-target="#carouselExampleControlsNoTouching2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" style="width: 100px;" type="button"
              data-bs-target="#carouselExampleControlsNoTouching2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
  </div>

</div>