
    <a routerLink="/detail/{{book.id}}" class="card">
        <img src="{{book.picture}}" class="card__image" alt="" />
        <div class="card__overlay">
            <div class="card__header d-flex justify-content-center">
                <div class="card__header-text">
                    <span *ngIf="book.price==0" class="price-free fs-3">Free</span>
                    <span *ngIf="book.price>0" class="price fs-3">{{book.price}}</span>
                </div>
            </div>
            <div class="container p-2 text-center">
                <span class="text-white fs-4 mt-4 ">{{book.name}}</span> <br>
                <span class="text-white">Author:  <span *ngFor="let authorBook of book.authorBooks">{{authorBook.author.name}}</span></span>
                <div class="nav-item">
                    <a class="nav-link" style="text-align:center; gap: 20px; font-size: 20px;">
                        <span *ngFor="let item of AddStar( book.ratePoint ); let i = index"> <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i></span>
                        <span *ngFor="let item of AddGrayStar( book.ratePoint ); let i = index"> <i class="bi bi-star-fill" aria-hidden="true" style="color:#8a8a8a"></i></span>
                     </a>
                </div>
            </div>
        </div>
    </a>