<h1 class="text-white">Categories management</h1>

<div class="container-fluid">
  <div class="d-flex mb-5 intro-x">
    <div class="d-flex align-items-center w-md me-5">
    <!-- <ReactMultiSelectCheckboxes
        options={CourseStateFilters}
        hideSearch={true}
        placeholderButtonLabel="State"
        value={selectedType}
        onChange={handleType}
      />

      <div class="border p-2">
        <FunnelFill />
      </div> -->
    </div>

    <div class="d-flex align-items-center w-ld ms-auto">
      <form [formGroup]="searchForm">
        <div class="input-group">
          <input
            class="form-control"
            id="search"
            formControlName="search"
          />
          <span class="border p-2 pointer btn btn-dark">
            <i class="bi bi-search"></i>
          </span>
        </div>
      </form>
      
    </div>

    <div class="d-flex align-items-center ms-3">
      <button (click)="onNewCategory()" class="btn btn-dark p-2">
        Create new category
      </button>
    </div>
  </div>
  <div class="mx-auto w-auto">

<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let category of categories| paginate: { itemsPerPage: 6, currentPage: p, totalItems: total}, let i = index">
      <th scope="row">{{category.id}}</th>
      <td>{{category.name}}</td>
      <td><a routerLink="/admin/category-create/{{category.id}}/edit" class="text-white"><i class="bi bi-pen"></i></a></td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="pageChangeEvent($event)" class="page"></pagination-controls>
</div>
