<section class="pt-5">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h3 class="text-white fs-1">Big Sale upto 75% off</h3>
                <p class="text-white">Save up to 75% on Library of America selections, including limited-time offers,
                    overstock titles, and clearance items. The selection changes monthly—so check back frequently!</p>
                <p class="text-white">If you've been screenshotting book recommendations or listing them in your notes
                    to eventually buy, well, that time is now.
                    <br>
                    The global book outlet, Booktopia is giving you an opportunity to stock up on that summer reading
                    stack and organise the Christmas presents with their huge spring sale with up to 75% off standard
                    retail prices including 50% off selected non-fiction and $10 off children's and young adults titles.
                </p>
            </div>

            <div class="col-md-6">
                <div class="container">
                    <div class="carousel slide" data-bs-ride="carousel" style="width:84%">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-4 d-flex justify-content-center align-items-center shimmer">
                                        <a href="#"> <img class="img-slide"
                                                src="https://i.pinimg.com/originals/6d/98/35/6d9835bd6b1c3eef4dbc77175e864512.png"
                                                class="d-block w-100" alt="..."></a>

                                    </div>
                                    <div class="col-4 d-flex justify-content-center align-items-center shimmer">
                                        <a href="#"><img class="img-slide"
                                                src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                                                class="d-block w-100" alt="..."></a>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center align-items-center shimmer">
                                        <a href="#"><img class="img-slide"
                                                src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                                                class="d-block w-100" alt="..."></a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-4 d-flex justify-content-center align-items-center shimmer">
                                        <a href="#"><img class="img-slide"
                                                src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                                                class="d-block w-100" alt="..."></a>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center align-items-center shimmer">
                                        <a href="#"> <img class="img-slide"
                                                src="https://i.pinimg.com/originals/6d/98/35/6d9835bd6b1c3eef4dbc77175e864512.png"
                                                class="d-block w-100" alt="..."></a>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center align-items-center shimmer">
                                        <a href="#"><img class="img-slide"
                                                src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                                                class="d-block w-100" alt="..."></a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-4 d-flex justify-content-center align-items-center shimmer">
                                        <a href="#"> <img class="img-slide"
                                                src="https://i.pinimg.com/originals/6d/98/35/6d9835bd6b1c3eef4dbc77175e864512.png"
                                                class="d-block w-100" alt="..."></a>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center align-items-center shimmer">
                                        <a href="#"> <img class="img-slide"
                                                src="https://i.pinimg.com/originals/6d/98/35/6d9835bd6b1c3eef4dbc77175e864512.png"
                                                class="d-block w-100" alt="..."></a>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center align-items-center shimmer">
                                        <a href="#"><img class="img-slide"
                                                src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                                                class="d-block w-100" alt="..."></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="../assets/images/stand.png" class="stand" alt="" style="width:85%">
            </div>

        </div>
    </div>

</section>