<h1 class="text-white">Books management</h1>
<div class="container-fluid">
  <div class="d-flex mb-5 intro-x">
    <div class="d-flex align-items-center w-md me-5">
    <!-- <ReactMultiSelectCheckboxes
        options={CourseStateFilters}
        hideSearch={true}
        placeholderButtonLabel="State"
        value={selectedType}
        onChange={handleType}
      />

      <div class="border p-2">
        <FunnelFill />
      </div> -->
    </div>

    <div class="d-flex align-items-center w-ld ms-auto">
      <form [formGroup]="searchForm">
        <div class="input-group">
          <input
            class="form-control"
            id="search"
            formControlName="search"
          />
          <span class="border p-2 pointer btn btn-dark">
            <i class="bi bi-search"></i>
          </span>
        </div>
      </form>
      
    </div>

    <div class="d-flex align-items-center ms-3">
      <button (click)="onNewBook()" class="btn btn-dark p-2">
        Create new book
      </button>
    </div>
  </div>
</div>
<div class="mx-auto w-auto">

  <table class="table table-dark table-hover center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Rate Point</th>
          <th scope="col">Category</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books| paginate: { itemsPerPage: 6, currentPage: p, totalItems: total}, let i = index" routerLink="/admin/book-detail/{{book.id}}">
          <th scope="row">{{book.id}}</th>
          <td>{{book.name}}</td>
          <td>{{book.price| currency:'VND':''}}</td>
          <td>{{book.ratePoint}}</td>
          <td>{{book.category.name}}</td>
          <td><a routerLink="/admin/book-create/{{book.id}}/edit" class="text-white"><i class="bi bi-pen"></i></a></td>
        </tr>
      </tbody>
    </table>
  
    <pagination-controls (pageChange)="pageChangeEvent($event)" class="page"></pagination-controls>
</div>

