<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <button *ngFor="let cateItem of cates; let i = index" class="glow-on-hover" type="button"
            (click)="getIndex(cateItem.id)">{{cateItem.name}}</button>
        <!-- <button class="glow-on-hover" type="button">Light novel</button>
        <button class="glow-on-hover" type="button">Kinh dị</button>
        <button class="glow-on-hover" type="button">Phiêu lưu</button>
        <button class="glow-on-hover" type="button">Viễn tưởng</button>
        <button class="glow-on-hover" type="button">Lịch sử</button> -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-white text-center fs-1 mt-4">{{cateName}}</h1>
            <div class="row">
                <div class="col-2 mt-3" *ngFor="let book of books; let i = index">
                    <app-items [book]="book" [index]="i"></app-items>
                </div>
            </div>
        </div>
    </div>
</div>