<div class="row">
    <a class="nav-link text-white h5 col-md-2" href="#">NEWEST <i class="bi bi-chevron-right"></i></a>
</div>
<div class="cards row">                    
    <div class="col-3 mb-4">
        <a href="" class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header d-flex justify-content-center">
                    <div class="card__header-text">
                        <span class="price fs-3">4.5$</span>
                    </div>
                </div>
                <div class="container p-2 text-center">
                    <span class="text-white fs-4 mt-4 ">The Road</span> <br>
                    <span class="text-white">Author: ksdg</span>
                    <div class="nav-item">
                        <a class="nav-link" style="text-align:center; gap: 20px; font-size: 20px;">
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="" class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header d-flex justify-content-center">
                    <div class="card__header-text">
                        <span class="price fs-3">4.5$</span>
                    </div>
                </div>
                <div class="container p-2 text-center">
                    <span class="text-white fs-4 mt-4 ">The Road</span> <br>
                    <span class="text-white">Author: ksdg</span>
                    <div class="nav-item">
                        <a class="nav-link" style="text-align:center; gap: 20px; font-size: 20px;">
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="" class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header d-flex justify-content-center">
                    <div class="card__header-text">
                        <span class="price fs-3">4.5$</span>
                    </div>
                </div>
                <div class="container p-2 text-center">
                    <span class="text-white fs-4 mt-4 ">The Road</span> <br>
                    <span class="text-white">Author: ksdg</span>
                    <div class="nav-item">
                        <a class="nav-link" style="text-align:center; gap: 20px; font-size: 20px;">
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="" class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header d-flex justify-content-center">
                    <div class="card__header-text">
                        <span class="price fs-3">4.5$</span>
                    </div>
                </div>
                <div class="container p-2 text-center">
                    <span class="text-white fs-4 mt-4 ">The Road</span> <br>
                    <span class="text-white">Author: ksdg</span>
                    <div class="nav-item">
                        <a class="nav-link" style="text-align:center; gap: 20px; font-size: 20px;">
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="" class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header d-flex justify-content-center">
                    <div class="card__header-text">
                        <span class="price fs-3">4.5$</span>
                    </div>
                </div>
                <div class="container p-2 text-center">
                    <span class="text-white fs-4 mt-4 ">The Road</span> <br>
                    <span class="text-white">Author: ksdg</span>
                    <div class="nav-item">
                        <a class="nav-link" style="text-align:center; gap: 20px; font-size: 20px;">
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="" class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header d-flex justify-content-center">
                    <div class="card__header-text">
                        <span class="price fs-3">4.5$</span>
                    </div>
                </div>
                <div class="container p-2 text-center">
                    <span class="text-white fs-4 mt-4 ">The Road</span> <br>
                    <span class="text-white">Author: ksdg</span>
                    <div class="nav-item">
                        <a class="nav-link" style="text-align:center; gap: 20px; font-size: 20px;">
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="" class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header d-flex justify-content-center">
                    <div class="card__header-text">
                        <span class="price fs-3">4.5$</span>
                    </div>
                </div>
                <div class="container p-2 text-center">
                    <span class="text-white fs-4 mt-4 ">The Road</span> <br>
                    <span class="text-white">Author: ksdg</span>
                    <div class="nav-item">
                        <a class="nav-link" style="text-align:center; gap: 20px; font-size: 20px;">
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="" class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header d-flex justify-content-center">
                    <div class="card__header-text">
                        <span class="price fs-3">4.5$</span>
                    </div>
                </div>
                <div class="container p-2 text-center">
                    <span class="text-white fs-4 mt-4 ">The Road</span> <br>
                    <span class="text-white">Author: ksdg</span>
                    <div class="nav-item">
                        <a class="nav-link" style="text-align:center; gap: 20px; font-size: 20px;">
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="" class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header d-flex justify-content-center">
                    <div class="card__header-text">
                        <span class="price fs-3">4.5$</span>
                    </div>
                </div>
                <div class="container p-2 text-center">
                    <span class="text-white fs-4 mt-4 ">The Road</span> <br>
                    <span class="text-white">Author: ksdg</span>
                    <div class="nav-item">
                        <a class="nav-link" style="text-align:center; gap: 20px; font-size: 20px;">
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="" class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header d-flex justify-content-center">
                    <div class="card__header-text">
                        <span class="price fs-3">4.5$</span>
                    </div>
                </div>
                <div class="container p-2 text-center">
                    <span class="text-white fs-4 mt-4 ">The Road</span> <br>
                    <span class="text-white">Author: ksdg</span>
                    <div class="nav-item">
                        <a class="nav-link" style="text-align:center; gap: 20px; font-size: 20px;">
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="" class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header d-flex justify-content-center">
                    <div class="card__header-text">
                        <span class="price fs-3">4.5$</span>
                    </div>
                </div>
                <div class="container p-2 text-center">
                    <span class="text-white fs-4 mt-4 ">The Road</span> <br>
                    <span class="text-white">Author: ksdg</span>
                    <div class="nav-item">
                        <a class="nav-link" style="text-align:center; gap: 20px; font-size: 20px;">
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-3 mb-4">
        <a href="" class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71IJ1HC2a3L.jpg"
                class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header d-flex justify-content-center">
                    <div class="card__header-text">
                        <span class="price fs-3">4.5$</span>
                    </div>
                </div>
                <div class="container p-2 text-center">
                    <span class="text-white fs-4 mt-4 ">The Road</span> <br>
                    <span class="text-white">Author: ksdg</span>
                    <div class="nav-item">
                        <a class="nav-link" style="text-align:center; gap: 20px; font-size: 20px;">
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                            <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                        </a>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
