<div class="container container-book-detail">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="card">
                <div class="imgBox">
                    <div class="bark"></div>
                    <img
                        src="https://gacsach.club/sites/default/files/styles/book310/public/thien-than-bong-toi.jpg?itok=sNr9ovuV">
                </div>
                <div class="details">
                    <p>Review:</p>
                    <p>Một thế giới bí ẩn, một thế giới không bao giờ thuộc về bạn, một thế giới phiêu lưu đầy cam go
                        bất ngờ nơi mà những mối quan hệ Tình yêu, Quyền lực và Thù hận đan xen!Hải Băng - một cô gái
                        băng lãnh, khó hiểu. Một đôi mắt màu nâu khói trong veo. Một gương mặt thuần khiết và đầy hấp
                        lực. Một trái tim mà nước mắt đã làm đóng thành băng, khiến người ta phải "Say! Ngay từ cái nhìn
                        đầu tiên".</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <span class="text-white fs-4">Thiên thần bóng tối (Black - Angel)</span>
            <p class="text-white fs-5 mt-3">Chi Chan</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="nav-item">
                <a class="nav-link" style="text-align:center; gap: 20px; font-size: 20px;">
                    <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                    <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                    <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                    <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                    <i class="bi bi-star-fill" aria-hidden="true" style="color:#FFD700"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-3">
            <div class="container-btn">
                <a class="btn-add btn-5">Add to cart</a>
            </div>
        </div>
    </div>
    <div class="row text-white mt-4">
        <div class="col-md-12 d-flex align-items-center">
            <i class="bi bi-list-ul fw-bold fs-2"></i> <span class="fs-3">&nbsp;CHAPTER</span>
        </div>
        <hr>
        <div class="col-md-12 d-flex align-items-center m-2">
            <a class="text-white text-decoration-none fs-4">Chapter 1</a>
        </div>
        <div class="col-md-12 d-flex align-items-center m-2">
            <a class="text-white text-decoration-none fs-4">Chapter 2</a>
        </div>
        <div class="col-md-12 d-flex align-items-center m-2">
            <a class="text-white text-decoration-none fs-4">Chapter 3</a>
        </div>
        <div class="col-md-12 d-flex align-items-center m-2">
            <a class="text-white text-decoration-none fs-4">Chapter 4</a>
        </div>
        <div class="col-md-12 d-flex align-items-center m-2">
            <a class="text-white text-decoration-none fs-4">Chapter 5</a>
        </div>
    </div>    
    <div class="row text-white mt-4">
        <div class="col-md-12 d-flex align-items-center mb-1">
            <i class="bi bi-chat-dots-fill fw-bold fs-3"></i> <span class="fs-3">&nbsp;COMMENTS</span>
        </div>
        <hr>
        
    </div>    
    <div class="row mb-3 text-white">
        <div class="col-md-1">
            <img class="float-end d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Image Description">
        </div>
        <div class="col-md-11">
            <div class="media g-mb-30 media-comment">                
                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                  <div class="g-mb-15">
                    <h5 class="h5 g-color-gray-dark-v1 mb-0">John Doe</h5>
                    <span class="g-color-gray-dark-v4 g-font-size-12">5 days ago</span>
                  </div>
            
                  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                    felis in faucibus ras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            
                </div>
            </div>
        </div>    
    </div>
    <div class="row mb-3 text-white">        
        <div class="col-md-1">
            <img class="float-end d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Image Description">
        </div>
        <div class="col-md-11">
            <div class="media g-mb-30 media-comment">
                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                  <div class="g-mb-15">
                    <h5 class="h5 g-color-gray-dark-v1 mb-0">John Doe</h5>
                    <span class="g-color-gray-dark-v4 g-font-size-12">5 days ago</span>
                  </div>
            
                  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                    felis in faucibus ras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <app-recommended></app-recommended>
    </div>
</div>