<div class="container mt-4 text-white">
    <div class="d-flex justify-content-center mb-3">
        <div class="container__image" style="background-image: url('{{book.picture}}');">
            <div class="container__info container__author fs-5">{{book.name}}</div>
            <div class="container__info container__location">Author: <span
                    *ngFor="let authorBook of book.authorBooks; let i = index">{{authorBook.author.name}}<span *ngIf="i<book.authorBooks.length-1">, </span> </span></div>

        </div>
    </div>
    <h1 class="text-center fs-2">Content</h1>
    <span class="text-white fs-5 content">
        {{chapter}}
    </span>
</div>