<div class="row text-white" style="background-color: #282828;">
    <div class="col-md-12 text-center p-2">
        <span class="fs-5">Popular</span>
    </div>
</div>
<div class="row text-white" style="background-color: #000000;">
    <div class="col-md-12 p-2 container-top">
        <div class="row row-top mt-2" *ngFor="let book of books; let i = index" (click)="redirect(book.id)"
            style="cursor: pointer;">
            <div class="col-md-2 d-flex align-items-center">
                <span class="fs-2 text-primary ">{{("00"+(i+1)).slice(-2)}}</span>
            </div>
            <div class="col-md-2 container-img">
                <img src="{{ book.picture }}" class="card_image" alt="" />
            </div>
            <div class="col-md-8">
                <span class="fs-6 fw-bold">{{book.name}} </span>
                <span class="fs-6">Author: <span
                        *ngFor="let author of book.authorBooks.slice(0,1)">{{author.author.name}}</span></span>
                <div>
                    <a style="font-size: 15px;">
                        <span *ngFor="let item of AddStar( book.ratePoint ); let i = index"> <i class="bi bi-star-fill"
                                aria-hidden="true" style="color:#FFD700"></i></span>
                        <span *ngFor="let item of AddGrayStar( book.ratePoint ); let i = index"> <i
                                class="bi bi-star-fill" aria-hidden="true" style="color:#8a8a8a"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>