<div class="d-flex justify-content-center w-100">
    <div class="login-box w-75">
      <h2 class="text-white">{{editMode?"Edit Category":"Create new Category"}}</h2>
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 form-floating text-white">
          <input
            class="form-control bg-dark text-white"
            placeholder="Leave a comment here"
            id="name"
            formControlName="name"
          />
          <label for="name">Name</label>
        </div>
        <div class="row">
          <div class="col-md-5">
            <button
              type="submit"
              [disabled]="!categoryForm.valid"
              class="btn btn-light w-100"
            >
              {{editMode?"Save":"Create"}}
            </button>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <button type="submit" class="btn btn-dark w-100" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  